@font-face {
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
  font-family: "Open Sans", sans-serif;
}
body {
	margin-top: 100px;
  font-family: "Open Sans", sans-serif;

}

button{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: #fff;
}
#root{
	height: 500px;
	width: 600px;
	margin: 0 auto;
	border: solid 1px black;
		padding: 10px ;
		position: relative;
}


.form-control{
bottom: 0px;
	  position: relative;
  width: 100%;
  display: inline-flex;
  height: 24px;
}
#btn{
	margin-left: 5px;
}
.title{
	text-align: center;
}
#text-limit{
	text-align: center;
	display: none;
}
.fot-img{

	width: 50px;
}
#input-text{
	margin-left: 20px;
	width: 84.8%;
}
.footer-cl{
	position:absolute;
	bottom:0;
	margin: 10px;
	margin-left: 250px;

}

.item-li{
  margin: 5px;
	line-height: 24px;
	list-style-type: none;
	position: relative;
	height: 24px;
	display: flex;
}
.btn_done{
	position: absolute;
}
.btn-delete{
	position: absolute;
    right: 0;

}
