button{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: #fff;
}
#root{
	width: 600px;
	margin: 0 auto;
	border: solid 1px black;
		padding: 10px ;
}
#btn{

}
.title{
	text-align: center;
}
#text-limit{
	text-align: center;
	display: none;
}
.fot-img{
	margin-left: auto;
	margin-right: auto;

	width: 50px;
}
#input-text{
	width: 84.8%;
}
.footer-cl{
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#item-icon{

}
.item-li{
	line-height: 23px;
list-style-type: none;
position: relative;
}
.btn_done{
	position: absolute;
}
.btn-delete{
	position: absolute;
    right: 0;

}
