@font-face {
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
 
}
button{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: #fff;
}
#root{
	width: 600px;
	margin: 0 auto;
	border: solid 1px black;
		padding: 10px ;
}


.form-control{
	  position: relative;
  width: 100%;
  display: inline-flex;
  height: 24px;
}
#btn{
	margin-left: 5px;
}
.title{
	text-align: center;
}
#text-limit{
	text-align: center;
	display: none;
}
.fot-img{
	margin-left: auto;
	margin-right: auto;

	width: 50px;
}
#input-text{
	width: 84.8%;
}
.footer-cl{
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.item-li{
	line-height: 24px;
	list-style-type: none;
	position: relative;
	height: 24px;
	display: flex;
}
.btn_done{
	position: absolute;
}
.btn-delete{
	position: absolute;
    right: 0;

}
