@font-face {
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
  font-family: "Open Sans", sans-serif;
}

body, ul{
  margin: 0;
}
  #myBtn{
    display: none;
  }
body {
  font-family: "Open Sans", sans-serif;
    background: #0a1223;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  min-width: 992px;
}

.flex {
  display: flex;
}
.navbar {
  list-style-type: none;
}
.navbar-li {
  display: inline;
}
.link {
  color: #5d5d5d;
  padding-right: 20px;
  font-size: 16px;
  text-decoration: none;
}
.link:hover {
  color: #54597d;
}
.active,
.link:active
{
  color: #54597d;
}

.nav-top {
    padding: 25px 0 0 0;
  justify-content: flex-end;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.jumbotron {
  margin: 50px 5px 50px 5px;
  justify-content: center;
  align-items: center;
}

.moon  {
  align-items: stretch;

}
.moon:nth-child(odd){
  flex-direction: row-reverse;
}
.list {
margin: 40px;
}

.img-con {
  flex-grow: 1;
  width: 50%;
  padding: 25px;
}

.article-img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.text-article {

box-sizing: border-box;
  padding: 25px;
  width: 50%;
}

.body-article {
    box-sizing: border-box;
  color: #5d5d5d;
  text-align: justify;
  text-indent: 50px;
  font-size: 16px;
  line-height: 1.25;
}

.title-article {
  background: linear-gradient(to right, #DDDDDD 0%, #5d5d5d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  color: #ddd;
}



@media only screen and (max-width: 991px) and (min-width: 576px) {
  .main-wrapper {
    background: #0a1223;
    margin: 0 auto;
    max-width: 991px;
    min-width: 576px;
  }
  .flex {
    flex-direction: column;
  }
  .moon:nth-child(odd){
    flex-direction:column;
  }
  .img-con {
    width: 100%;
      order: 2;
  }
  .text-article {
    width: 100%;
  }
  .body-article {
    font-size: 20px;
  }
.title-article {
    font-size: 30px;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
}

@media  (max-width: 575px) {
  body{
    background: #fff;
  }
  .main-wrapper {

    min-width: 100% ;
    margin: 0 auto;
  }
 ul {
    padding: 0;
  }
  h1 {
    color: #000;
    font-size: 15vw ;

  }
  .navbar-li {
    padding: 10px;
    border-bottom: solid 1px #ddd;
    display: list-item;
  }
  .flex {
    flex-direction: column;
  }
  .moon:nth-child(odd){
    flex-direction:column;
  }

  .link {
    color: #000;
    margin-right: 15px;
    font-size: 30px;
  }
  .link:hover {
    font-weight: bold;
  }
  .img-con {
    order: 2;
    width: 100%;
  }
  .text-article {
    width: 100%;
  }
.body-article, .title-article{
    color: #5d5d5d;
  }
  .body-article {

    font-size: 1.5em;
    padding: 0;
  }
  .title-article {
    font-size: 10vw ;
    -webkit-text-fill-color: #5d5d5d;
  }

  .title-article {
    color: #000;
  }
  #myBtn  {
  display: block;
  position: fixed;
  text-align: center;
  line-height:75px;
  float: right;
  bottom: 50px;
  width: 75px;
  height: 75px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  text-decoration: none;

  background-color: #5ebcff;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 12px 20px 16px 0px #c8c8c8;
}
a #myBtn {
  margin: 10px;
}
}
