@import url('https://fonts.googleapis.com/css?family=Lora');
$contentBackground: #efefef;
$linkColor:#fc5830;
$navBorder: #cfd8dc;
$toolbarInputBorder:#fc5830;
$toolbarInputPlaceholder: #fc5830;
$articleBackground: #fff;
$postDescriptionColor:#bdbdbd;
$postDescriptioBorder:#cfd8dc;
$postDescriptionHTagColor: #617d8a;
$postDescriptionPTagColor: #bc9379;
$sectionHTagColor:#fc5830;
$sectionPTagColor:#757575;
$btnBackground: #fc5830;
$btnColor: #fff;
$footerColor:#757575;

body{
  font-family: 'Lora', serif;
}
