@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$contentBackground: #fff;
$linkColor:#1fbcd3;
$navBorder: #617d8a;
$toolbarInputBorder: #1fbcd3;
$toolbarInputPlaceholder: #1fbcd3;
$articleBackground: #efefef;
$postDescriptionColor:#159587;
$postDescriptioBorder:#617d8a;
$postDescriptionHTagColor: #1697a6;
$postDescriptionPTagColor: #617d8a;
$sectionHTagColor:#1fbcd3;
$sectionPTagColor:#6b7d8a;
$btnBackground: #1fbcd3;
$btnColor: #fff;
$footerColor:#6b7d8a;
body{
  font-family: 'Open Sans', sans-serif
}
